// Colour scheme and theming
$dark-brown: #564a4b;
$ligther-brown: lighten($dark-brown, 55%);
$light-title: #e9d095;
$light-background: #e6cd8f;
$red: #EC212D;
$dark-red: #591C0C;

// Greys:
$dark-grey: #111111;
$light-grey: lighten($dark-grey, 66%);
$lighter-grey: lighten($dark-grey, 85%);